* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100vh;
  width: 90vw;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainContainer {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

#leftContainer {
  flex-basis: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px;
}

#rightContainer {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

#mainImgContainer {
  width: 50%;
  height: 500px;
}

#mainImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border-radius: 5px;
  overflow: none;
}

#thumbnailContainer {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.ThumbnailImg {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border: none;
  border-radius: 5px;
}

#vendor {
  color: gray;
}

#discount {
  color: red;
}

#discountedPrice {
  display: inline-block;
  margin-right: 10px;
  color: #3b5998;
}

#actualPrice {
  color: gray;
  text-decoration: line-through;
}

.chooseTitle {
  color: gray;
  margin-bottom: 10px;
}

#colorBoxContainer {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

.colorBox {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.colorPicker {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: -1;
}

#sizeParentContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-right: 15px;
}

#sizeContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.sizeChildContainer {
  background-color: #e1e1e1;
  border-radius: 50px;
  padding: 3px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sizeChildContainer,
input {
  cursor: pointer;
}

.sizeLabel {
  font-size: 0.6rem;
}

.btnContainer {
  display: flex;
  gap: 10px;
}

.valueBtn {
  width: 150px;
  background-color: #eeeeee;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3b5998;
  font-size: 1.3rem;
  font-weight: 600;
}

.valueBtn span {
  cursor: pointer;
  font-size: 1.25rem;
}

.addToCartBtn {
  width: 200px;
  background-color: #3b5998;
  padding: 10px;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  cursor: pointer;
}

#descContainer {
  color: rgb(182, 182, 182);
  font-size: 14px;
}

a {
  display: inline-block;
  color: lightgrey;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

a:hover {
  background: rgba(0, 0, 0, 0.23);
  color: white;
  transform: scale(1.03);
  text-decoration: none;
}
a:active {
  transform: scale(0.98);
}

/* For screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
  #mainContainer {
    margin-top: 400px;
    flex-direction: column;
    width: 90vw;
  }

  #leftContainer {
    margin: 50px 10px;
  }

  #leftContainer,
  #rightContainer {
    flex: 1;
  }

  #mainImgContainer {
    width: 100%;
    height: auto;
  }

  .ThumbnailImg {
    width: 100px;
    height: 100px;
  }

  .addToCartBtn {
    width: 100%;
  }
}
